/* Fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background-image: url('https://img.freepik.com/vector-premium/fondo-fiesta-halloween-calabaza-brillante-casa-terror_30996-5247.jpg'); /* Fondo de Halloween */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Creepster', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: calc(10px + 2vmin);
}

.radio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: auto; /* Centrar el contenedor */
}

.radio {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 5px solid #ff6347; /* Borde atractivo */
}

.radio:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.radio img {
    width: 96px;
    height: 66px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(255, 100, 100, 0.3);
}

button:hover {
    background-color: #ffa07a;
    transform: scale(1.05);
}

/* Estilos para los murciélagos */
.bat {
    position: fixed;
    width: calc(80px + 2vmin);
    height: calc(80px + 2vmin);
    background-image: url('bat.png'); /* Asegúrate de tener una imagen de murciélago */
    background-size: contain;
    background-repeat: no-repeat;
    animation: fly 10s linear infinite;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

@keyframes fly {
    0% {
        transform: translate(-10%, 10px) scale(1) rotate(0deg);
    }
    50% {
        transform: translate(110vw, 100px) scale(1.2) rotate(45deg);
    }
    100% {
        transform: translate(-10%, 200px) scale(1) rotate(0deg);
    }
}
